* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 160px;
  margin-left: 50px;
  border: 1px solid black;
  padding: 10px;
}

#col__left {
  margin-left: 0;
}

input {
  display: block;
  min-width: 100%;
  margin-top: 10px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}
